* {
    margin: 0;
    padding: 0;
}

body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft yahei", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    overflow: hidden;
}

.g-dp-ctn{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F8F8F8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.g-dp-hd{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #DFDFDF;
}

.u-dp-bk{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    -webkit-tap-highlight-color: #ddd;
}
.u-dp-bk-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    border-right: 1px solid #D30775;
    border-top: 1px solid #D30775;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-tap-highlight-color: transparent;
}

.u-dp-tt{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.g-dp-bd{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    background-color: #fff;
    color: #333;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    -webkit-font-smoothing: antialiased;
}
.g-dp-ft{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
}

.m-dp-ft-l{
    position: absolute;
    left: 0;
    right: 140px;
    height: 100%;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.7);
}
.m-dp-ft-r{
    position: absolute;
    right: 0;
    width: 140px;
    height: 100%;
    background-color: #D30775;
}
.u-dp-next-btn{
    display: block;
    height: 100%;
    text-align: center;
    color: #fff;
}

.u-dp-ft-count-text{
    float: left;
    height: 100%;
    color: #fff;
}

.m-dp-ft-count{
    float: left;
    width: 120px;
    height: 100%;
    padding: 10px 0;
    margin-left: 5%;
}

.u-dp-ft-count-minus,
.u-dp-ft-count-plus,
.u-dp-ft-count{
    float: left;
    height: 100%;
    line-height: 28px;
    border: 1px solid #D30775;
    text-align: center;
}

.u-dp-ft-count-minus,
.u-dp-ft-count-plus{
    width: 30px;
    color: #D30775;
    font-size: 20px;
    font-weight: bolder;
}

.u-dp-ft-count{
    width: 60px;
    background-color: #D30775;
    color: #fff;
}

.u-dp-bd-tt{
    font-size: 14px;
    font-weight: normal;
    color: inherit;
    text-align: center;
    padding: 5px 0;
}

.m-dp-bd{
    margin-bottom: 10px;
}

.m-dp-bd-day,
.m-dp-bd-day>thead,
.m-dp-bd-day>thead>tr{
    display: block;
}


.m-dp-bd-day>thead{
    padding: 5px 0;
    border-bottom: 1px solid #DFDFDF;
}

.m-dp-bd-date>span,
.m-dp-bd-day td{
    float: left;
    width: 14.28%;
    text-align: center;
}
.m-dp-bd-day td{
    font-size: 12px;
}
.m-dp-bd-day td:first-child,
.m-dp-bd-day td:last-child{
    color: #D30775;
}
.m-dp-bd-date>span{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
}

.m-dp-bd-date>span.unUsable{
    color: #aaa!important;
}

.m-dp-bd-date>span.highLight {
    color: #D30775;
}

.m-dp-bd-date>span.selected{
    background-color: #D30775;
    color: #fff !important;
}