*{
    margin: 0;
    padding: 0;
}
.g-dp-ctn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F8F8F8;
    font-family: "Microsoft yahei", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
}
.g-dp-hd{
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
}

.u-back-btn{
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background-color: #ddd;
}

.g-dp-bd{
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.m-dp-day{
	width: 100%;
	background-color: #d30775;
	line-height: 28px;
	height: 28px;
	color: #fff;
	font-size: 11px;
}
.m-dp-day>div{
	float: left;
	width: 14.2%;
	text-align: center;
}

.m-dp-date{
    margin-top: 10px;
    background-color: #fff;
	overflow: hidden;
}
.m-dp-date:first-of-type{
    margin-top: 0;
}

.m-dp-date p{
	line-height: 28px;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.m-dp-date>div>span{
    float: left;
    width: 14.2%;
	height: 51px;
    line-height: 51px;
    border-bottom: 1px solid #ddd;
	text-align: center;
	font-size: 14px;
	color: #aaa;
}
.m-dp-date>div>span.selected,
.m-dp-date>div>span.selected>i{
    background-color: #d30775;
    color: #fff!important;
}

.m-dp-date>div>span.highLight.usable{
	color: #d30775;
}
.m-dp-date>div>span.highLight.usable>i{
	color: #000;
}
.m-dp-date>div>span.usable{
	color: #000;
}
.m-dp-date>div>span.usable>i{
	font-size: 10px;
	display: block; 
}