.absTRBL(@top:0, @bottom:0, @left:0, @right: 0){
    position: absolute;
    top: @top;
    bottom: @bottom;
    left: @left;
    right: @right;
    overflow: hidden;
}

.bgc(@color) {
    background-color: @color;
}
.c(@color: #fff){
    color: @color;
}
.bdr(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

body{
    overflow:hidden;
}

.g-ft-ctn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    min-width:320px;
    overflow:hidden;
    & * {
        margin: 0;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    & ul {
        list-style: none;
    }

    >.g-ft-btn{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        >.m-ft{
            float: left;
            height: 100%;
            >button{
                width: 100%;
                height: 100%;
                .bgc(#464646);
                border: none;
                .c();
                &.selected{
                    .c(#D30775);
                }
                >i{
                    font-style: normal;
                }
            }

        }
    }
    >.u-ft-mask{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 50px;
        .bgc(rgba(0,0,0,0.5));
        >.g-condition-tag{
            position: absolute;
            bottom: 264px;
            left: 0;
            right: 0;
            padding: 10px;
            >a{
                position: relative;
                float: left;
                height: 30px;
                line-height: 30px;
                padding: 0 12px;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 3px;
                .bgc(#fff);
                .c(#D30775);
                font-size: 14px;
                >i{
                    position: absolute;
                    display: block;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #d30775;
                    border-radius: 12px;
                    top: -5px;
                    left: -5px;
                    background-color: #fff;
                    &:before{
                        content: "";
                        height: 7px;
                        border-left: 1px solid #d30775;
                        position: absolute;
                        top: 41%;
                        left: 23%;
                        -webkit-transform: rotate(45deg) translateY(-50%);
                        -moz-transform: rotate(45deg) translateY(-50%);
                        -ms-transform: rotate(45deg) translateY(-50%);
                        -o-transform: rotate(45deg) translateY(-50%);
                        transform: rotate(45deg) translateY(-50%);
                    }
                    &:after{
                        content: "";
                        height: 7px;
                        border-left: 1px solid #d30775;
                        position: absolute;
                        top: 41%;
                        right: 25%;
                        -webkit-transform: rotate(-45deg) translateY(-50%);
                        -moz-transform: rotate(-45deg) translateY(-50%);
                        -ms-transform: rotate(-45deg) translateY(-50%);
                        -o-transform: rotate(-45deg) translateY(-50%);
                        transform: rotate(-45deg) translateY(-50%);
                    }
                }
            }
        }
    }

    & .g-ft-content-ctn{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        >.m-ft-content-ctn{
            .bgc(#fff);
            & li {
                line-height: 44px;
                border-top: 1px solid #ddd;
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;
                cursor: default;
                .c(#666);
                &.selected{
                    .bgc(#fff);
                    .c(#D30775);
                }
            }
            >.m-ft-content-double{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                .bgc(#fff);
                font-size: 14px;
                .c(#666666);

                >.m-ft-content-db-l{
                    float: left;
                    width: 130px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    >ul>li{
                        border: none;
                        text-align: center;
                        .bgc(#f5f5f5);
                        &.hasCondition:after{
                            content: '';
                            float: right;
                            width: 6px;
                            height: 6px;
                            margin-top: 19px;
                            .bdr(50%);
                            .bgc(#D30775);
                        }
                        >.m-ft-content-db-r{
                            position: absolute;
                            top: 44px;
                            left: 130px;
                            right: 0;
                            bottom: 0;
                            .bgc(#fff);
                            .c(#666);
                            overflow-x: hidden;
                            overflow-y: auto;
                            & li{
                                position: relative;
                                text-align: left;
                                .bgc(#fff);
                                border-top: none;
                                border-bottom: 1px solid #ddd;
                                &.selected{
                                    .c(#D30775);
                                }
                                >i{
                                    position: absolute;
                                    display: block;
                                    top: 50%;
                                    right: 10px;
                                    width: 8px;
                                    height: 16px;
                                    margin-top: -12px;
                                    border-left: 1px solid #D30775;
                                    border-top: 1px solid #D30775;
                                    -webkit-transform: rotate(-125deg);
                                    -moz-transform: rotate(-125deg);
                                    -ms-transform: rotate(-125deg);
                                    -o-transform: rotate(-125deg);
                                    transform: rotate(-125deg);
                                }
                            }
                        }
                    }
                }
                >.m-ft-content-db-tt{
                    position: relative;
                    height: 44px;
                    line-height:44px;
                    text-align: center;
                    .bgc(#F5F5F5);
                    >a{
                        position: absolute;
                        top:0;
                        bottom:0;
                        .c(#D30775);
                    }
                    >a:first-child{
                        left:30px;
                    }
                    >a:last-child{
                        right: 30px;
                    }
                    >button{
                        height: 30px;
                        width: 70px;
                        border: 1px solid #ddd;
                        .bgc(#f5f5f5);
                        .c(#666666);
                    }
                }
            }
        }
    }
}



