<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>自定义指令组件</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--<link rel="stylesheet" href="./css/datePicke.css"/>-->
    <!--<link rel="stylesheet" href="./css/datePicker-base.css"/>-->
    <link rel="stylesheet" href="./css/datePicker-flight.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="css/modalDialog.css"> -->
    <!-- <link rel="stylesheet" href="css/selectCity.css"/> -->
    <!--<link rel="stylesheet" href="css/rollerPicker.css"/>-->
    <script src="libs/angular.js"></script>
    <script src="libs/angular-touch.js"></script>
    <script src="js/app.js"></script>
    <script src="js/modalDialog-directive.js"></script>
    <script src="js/selectCity-directive.js"></script>
    <script src="js/rollerPicker-directive.js"></script>
    <!--<script src="js/datePicker-directive.js"></script>-->
    <!--<script src="js/datePicker-base-directive.js"></script>-->
    <script src="js/datePicker-flight-directive.js"></script>
    <script src="js/service.js"></script>
</head>
<body>
<!--<div ng-controller="TestController">-->
    <!--<modal-dialog dialog-config="modalDialog">-->
        <!--使用angularjs自定义指令来做模态框-->
    <!--</modal-dialog>-->
<!--</div>-->
<div ng-controller="SelectCityController">
    <!-- <button ng-click="show()">123</button>
    <select-city city-config="selectCityConfig"></select-city> -->
</div>

<div class="roller-container" ng-controller="RPParentController">
    <!--<roller-picker ng-city="cityData"></roller-picker>-->
    <!--<input type="text" roller-picker ng-model="val"/>-->

    <!--<date-picker date-config="datePickerConfig"></date-picker>-->
</div>


<div ng-controller="DPBaseController">
    <date-picker dp-config="dpConfig"></date-picker>
</div>

</body>
</html>

