<div class="g-dp-ctn" ng-show="DPController.show">
    <header class="g-dp-hd">
        <a class="u-dp-bk" ng-click="DPController.close()"><</a>
        <h1 class="u-dp-tt">选择游玩日期和分数</h1>
    </header>
    <article class="g-dp-bd">
        <section class="m-dp-bd" ng-repeat="date in DPController.dateList">
            <h2 class="u-dp-bd-tt">{{date.year}}年{{date.month}}月</h2>
            <table class="m-dp-bd-day">
                <thead>
                    <tr>
                        <td>日</td>
                        <td>一</td>
                        <td>二</td>
                        <td>三</td>
                        <td>四</td>
                        <td>五</td>
                        <td>六</td>
                    </tr>
                </thead>
            </table>
            <div class="m-dp-bd-date">
                <span ng-repeat="dateInfo in date.dateInfo"
                      ng-class="{unUsable: !dateInfo.isUsable, highLight: dateInfo.isHighLight}"
                      ng-click="DPController.selectDate(dateInfo.date)">
                    {{dateInfo.renderDate}}
                </span>
            </div>
        </section>
    </article>
    <footer class="g-dp-ft">
        <div class="m-dp-ft-l">
            <span class="u-dp-ft-count-text">份数</span>
            <div class="m-dp-ft-count">
                <a class="u-dp-ft-count-minus">-</a>
                <p class="u-dp-ft-count">2</p>
                <a class="u-dp-ft-count-plus">+</a>
            </div>
        </div>
        <div class="m-dp-ft-r">
            <a class="u-dp-next-btn">下一步</a>
        </div>
    </footer>
</div>