<div class="g-city-sct-container" ng-show="SelectCityController.open">
    <div class="g-city-sct-hd">
        <a class="u-back-btn" ng-click="SelectCityController.close()">取消</a>
        <input id="j-city-srh" class="u-city-srh" type="search" placeholder="{{SelectCityController.inputPlaceholder}}"
               ng-model="search"/>
    </div>
    <div class="g-city-sct-bd">
        <ul class="city-list">
            <li id="CURRENT">
                <h4 class="u-city-sct-cur-hd">{{SelectCityController.curPosition}}</h4>
                <div class="m-city-scr-cur">
                    <div>
                        <a>{{SelectCityController.currentCity}}</a>
                    </div>
                </div>
            </li>
            <li id="HISTORY" ng-if="SelectCityController.historySelectedList">
                <h4 class="u-city-sct-hty-hd">{{SelectCityController.historyOptions}}</h4>
                <div class="m-city-scr-hty">
                    <div ng-repeat="item in SelectCityController.historySelectedList">
                        <a ng-click="SelectCityController.selectCity(item)" ng-if="SelectCityController.type === 'train'">{{item.cityname}}</a>
                        <a ng-click="SelectCityController.selectCity(item)" ng-if="SelectCityController.type === 'flight'">{{item.name}}</a>
                        <a ng-click="SelectCityController.selectCity(item)" ng-if="SelectCityController.type === 'visa-province'">{{item.station_name}}</a>
                    </div>
                </div>
            </li>
            <li id="HOT" ng-if="SelectCityController.type === 'train' || SelectCityController.type === 'flight'">
                <h4 class="u-city-sct-hot-hd">热门城市</h4>
                <div class="m-city-scr-hot">
                    <div ng-if="SelectCityController.type === 'train'"
                         ng-repeat="city in SelectCityController.cityList | filter: {ishot: 'Y'}">
                        <a ng-click="SelectCityController.selectCity(city)">{{city.cityname}}</a>
                    </div>
                    <div ng-if="SelectCityController.type === 'flight'"
                         ng-repeat="city in SelectCityController.hotCitys">
                        <a ng-click="SelectCityController.selectCity(city)">{{city.name}}</a>
                    </div>
                </div>
            </li>
            <li id="{{letter}}" ng-repeat="letter in SelectCityController.letterList | searchLetterFilter: search" >
                <h4>{{letter}}</h4>
                <ul class="m-city-list">
                    <li ng-if="SelectCityController.type === 'train'"
                        ng-repeat="city in SelectCityController.cityList | filter: {firstletter: letter}"
                        ng-click="SelectCityController.selectCity(city)">
                        {{city.cityname}}
                    </li>
                    <li ng-if="SelectCityController.type === 'flight'"
                        ng-repeat="city in SelectCityController.cityList | filter:  {firstLetter: letter, pinYin: search} "
                        ng-click="SelectCityController.selectCity(city)">
                        {{city.name}}
                    </li>
                    <li ng-if="SelectCityController.type === 'visa-province'"
                        ng-repeat="province in SelectCityController.provinceList | searchCityListFilter: search : letter"
                        ng-click="SelectCityController.selectCity(province)">
                        {{province.station_name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="g-letter-list">
        <li data-name="{{anchor}}"
            ng-if="SelectCityController.hasOtherAnchor"
            ng-repeat="anchor in SelectCityController.anchorWord track by $index">
            <a ng-if="anchor === 'CURRENT'">当前</a>
            <a ng-if="anchor === 'HISTORY'">历史</a>
            <a ng-if="anchor === 'HOT'">热门</a>
            <a ng-if="$index > 2">{{anchor}}</a>
        </li>
        <li data-name="{{anchor}}"
            ng-if="!SelectCityController.hasOtherAnchor"
            ng-repeat="anchor in SelectCityController.anchorWord">
            <a>{{anchor}}</a>
        </li>
    </ul>
</div>