<div class="g-city-sct-container" ng-show="SelectCityController.open">
    <div class="g-city-sct-hd">
        <a class="u-back-btn" ng-click="SelectCityController.close()">取消</a>
        <input id="j-city-srh" class="u-city-srh" type="search" placeholder="{{SelectCityController.inputPlaceholder}}"
               ng-model="search"/>
    </div>
    <div class="g-city-sct-bd">
        <ul class="city-list">
            <li id="CURRENT">
                <h4 class="u-city-sct-cur-hd">{{SelectCityController.curPosition}}</h4>
                <div class="m-city-scr-cur">
                    <div>
                        <a href="">上海</a>
                    </div>
                </div>
            </li>
            <li id="HISTORY" ng-if="SelectCityController.historySelectedList">
                <h4 class="u-city-sct-hty-hd">{{SelectCityController.historyOptions}}</h4>
                <div class="m-city-scr-hty">
                    <div ng-repeat="item in SelectCityController.historySelectedList">
                        <a ng-click="">{{item.name}}</a>
                    </div>
                </div>
            </li>
            <li id="HOT" ng-if="SelectCityController.type === 'train'">
                <h4 class="u-city-sct-hot-hd">热门城市</h4>
                <div class="m-city-scr-hot">
                    <div ng-repeat="city in SelectCityController.cityList | filter: {ishot: 'Y'}">
                        <a>{{city.cityname}}</a>
                    </div>
                </div>
            </li>
            <li id="{{letter}}" ng-repeat="letter in SelectCityController.letterList | searchLetterFilter: search" >
                <h4>{{letter}}</h4>
                <ul class="m-city-list">
                    <li ng-if="SelectCityController.type === 'train'"
                        ng-repeat="city in SelectCityController.cityList | filter: {firstletter: letter}"
                        ng-click="SelectCityController.selectCity(city.cityname)">
                        {{city.cityname}}
                    </li>
                    <li ng-if="SelectCityController.type === 'visa-province'"
                        ng-repeat="province in SelectCityController.provinceList | searchCityList: search : letter"
                        ng-click="SelectCityController.selectCity(province.station_name)">
                        {{province.station_name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="g-letter-list">
        <li><a name="{{anchor}}" ng-repeat="anchor in SelectCityController.anchorWord">{{anchor}}</a></li>
    </ul>
</div>